export const repository = 'your-repository-here'

/**
 * Enumerable of static pages
 */
export enum PagesSummaryEnum {
  NOT_FOUND = 0,
  HOME_PAGE = 1,
  DOCS_PAGE = 2,
  BLOG_PAGE = 3,
}

const staticPages = [
  '/blob/master/src/pages/404.tsx',
  '/blob/master/src/pages/index.tsx',
  '/blob/master/src/pages/docs/index.tsx',
  '/blob/master/src/pages/blog/index.tsx',
]

/**
 * Get page path
 * @param pageIndex pageIndex from enum
 */
export function getPage(pageIndex: PagesSummaryEnum): string {
  return repository + staticPages[pageIndex]
}

export default staticPages
