interface ThemeConfig {
  headerAndSidebar: {
    displayName: string
    links: {
      name: string
      href: string
      icon: string
    }[]
  }
  blogTemplate: {
    repository: string
    url: string
  }
}

const themeConfig: ThemeConfig = {
  headerAndSidebar: {
    displayName: 'SourceVortex',
    links: [],
  },
  blogTemplate: {
    wordpressUrl: '',
    url: '/'
  },
}

export default themeConfig
